
<style> 



 </style>


<% if action == :index %>
    <ul>
        <li> <a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
    </ul>
<% else %>
            <table>
            <caption>
                Cats information
            </caption>
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Sex</th>
                <th scope="col">Color</th>
                <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row"><%= cat.name %></th>
                <td><%= cat.birth_date %></td>
                <td><%= cat.sex %></td>
                <td><%= cat.color %></td>
                <td><%= cat.description %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <th scope="row" colspan="2">Age</th>
                <td><%= cat.age %></td>
                </tr>
            </tfoot>
            </table>
        <li> <a href="<%= cats_url %>">index page</a></li>
<% end%>